@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    margin:0px;
    height:100%;
    font-family: "Josefin Sans", sans-serif;
    background-image: linear-gradient(rgba(42, 0, 101, 0.614), rgba(0, 0, 0, 0.7)),url(../img/landing-page.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
}


.landing-page {
    height:100%;
  }

.main-content {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;


    & h1 {
        font-size: 5rem;
        color: white;
    }

    & h3 {
        font-size: 1.3rem;
        letter-spacing: .7rem;
        font-weight: 200;
        margin-bottom: 20px;
        color: white;
    }

    & p {
        color: white;
    }
}


.landing-buttons {
    margin-top: 30px;
    display: flex;
    gap: 50px;
    list-style: none;
}

.landing-buttons .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    background-color: rgb(38, 5, 94);
    border-radius: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    outline: 3px rgb(0, 0, 0) solid;
    transition: background-color .5s ease;

}

.landing-buttons .button:hover {
    transform: scale(1.2);
    background-color: #ffffff;
    color: rgb(38, 5, 94);
}


