@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;

}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button {
    text -decoration: none;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100vw;
    margin-top: 8px;
    background-color: rgb(255, 255, 255);
  }

section {
    width: 100vw;
    padding: 1rem 2vw;
    margin-top: 10px;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    background-color: rgba(106, 104, 104, 0);
  }

  

/*DESIGN 1*/
header.design-one {
    width: 100vw;
    height: 35vh;;
    display: flex;
    background: rgb(18, 63, 148);
}



nav.navigation1 {
    display: flex;
    align-items: start;
    gap: 1rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 150px;
}

nav.navigation2 {
    display: flex;
    align-items: start;
    gap: 1rem;
    flex-direction: column;
    align-content: center;
    margin-left: 150px;
    justify-content: center;
    margin-left: 150px; 
}

nav.navigation3 {
    display: flex;
    align-items: start;
    gap: 1rem;
    flex-direction: column;
    align-content: center;
    margin-left: 150px;
    justify-content: center;
    margin-left: 150px;
}

nav.navigation4 {
    display: flex;
    align-items: start;
    gap: 1rem;
    flex-direction: column;
    align-content: center;
    margin-left: 150px;
    margin-top: 60px;
    justify-content: start;
}

.company-logo1 {
    height: 80px;
    margin-bottom: 20px;
}

.des1-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-col or: yellowgreen;
    margin-left: 50px;
    & p {
        color: white;
        font-weight: 300;
        font-size: 0.8rem;
    }
}

button.nav-design1 {
    font-weight: 600;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
}

button.nav-design2 {
    justify-content: space-evenly;
    font-weight: 300;
    font-size: .8rem;
    margin-top: 5px;
    color: rgb(255, 255, 255);
}

button.nav2-design1 {
    font-weight: 600;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
}

button.nav2-design2 {
    justify-content: space-evenly;
    font-weight: 300;
    font-size: .8rem;
    margin-top: 5px;
    color: rgb(255, 255, 255);
}

button.nav3-design1 {
    font-weight: 600;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
}

button.nav3-design2 {
    justify-content: space-evenly;
    font-weight: 300;
    font-size: .8rem;
    margin-top: 5px;
    color: rgb(255, 255, 255);
}

.fa-phone {
    margin-right: 10px;
}

.fa-envelope {
    margin-right: 10px;
}

.fa-tty {
    margin-right: 10px;
}

.fa-copyright {
    font-size: 10px;
    font-weight: 100;
}

button.nav4-design1 {
    font-weight: 600;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
}

button.nav4-design2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 300;
    font-size: 1.2rem;
    margin-top: 5px;
    color: rgb(255, 255, 255);
}

/*DESIGN 2*/
header.design-two {
    width: 100vw;
    height: 38vh;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: start; /* Center content vertically */
    background: rgb(10, 37, 87);
}

.header-content2 {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center elements horizontally */

    & p {
        margin-bottom: 50px;
        color: white;
        font-weight: 300;
        font-size: 0.8rem;
    }
}

img.company-logo2 {
    height: 40px;
    margin-top: 30px;
    margin-bottom: 15px; /* Add some space between the image and the button */
}

.navigation2-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10rem;
}

.nav-design2-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
}

button.nav2-design2-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 50px;
    color: rgb(255, 255, 255);
}

/*DESIGN 3*/
header.design-three {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background: rgb(0, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.7)), url(../img/header-porsche-footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.header-content3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button.nav2-design1-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 3rem;
}

button.nav2-design1-2 i {
    color: white;
    font-size: 1.5rem;
    
}

.navigation2-footer2 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    max-width: 1260px; /* Limit the width of the paragraph */
    & h3 {
        font-size: .9rem;
        font-weight: 200;
    }
}

.porsche-brand {
    margin-top: 50px;
    margin-bottom: 20px;
    height: 20px;

}
